---
import BaseLayout from "../layouts/BaseLayout.astro";
import Tile from "@components/Tile.astro";
import { Image } from "@astrojs/image/components";
import { getCollection, getEntryBySlug } from "astro:content";
import tsLogo from "@img/logo-ts.svg";
import workoutLogo from "@img/logo-workout.svg";
import readingLogo from "@img/logo-reading.svg";
import bloggingLogo from "@img/logo-blogging.svg";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="py-32">
    <div class="px-10 mx-auto">
      <div
        class="flex justify-center font-bold text-5xl text-white font-['Avenir_Next']"
      >
        <span
          class="w-16 pt-2 aspect-square flex items-center justify-center bg-[#90A2B8]"
          >P</span
        ><span
          class="w-16 pt-2 aspect-square flex items-center justify-center bg-[#8A9CB3]"
          >R</span
        ><span
          class="w-16 pt-2 aspect-square flex items-center justify-center bg-[#8497AF]"
          >O</span
        ><span
          class="w-16 pt-2 aspect-square flex items-center justify-center bg-[#7E91AA]"
          >G</span
        ><span
          class="w-16 pt-2 aspect-square flex items-center justify-center bg-[#788CA6]"
          >R</span
        ><span
          class="w-16 pt-2 aspect-square flex items-center justify-center bg-[#7286A1]"
          >E</span
        ><span
          class="w-16 pt-2 aspect-square flex items-center justify-center bg-[#6C819D]"
          >S</span
        ><span
          class="w-16 pt-2 aspect-square flex items-center justify-center bg-[#667B98]"
          >S</span
        >
      </div>
      <p class="text-slate-500 text-center mt-6 font-medium tracking-wide">
        This is an app for keeping track of my daily progress.
      </p>
    </div>

    <div class="flex justify-center mt-12">
      <div class="aspect-square p-4">
        <Tile name="TypeScript" url="typescript">
          <Image src={tsLogo} width={100} aspectRatio="1:1" alt="TypeScript" />
        </Tile>
      </div>
      <div class="aspect-square p-4">
        <Tile name="Workout" url="workout">
          <Image
            src={workoutLogo}
            width={100}
            aspectRatio="1:1"
            alt="Workout"
          />
        </Tile>
      </div>
      <div class="aspect-square p-4">
        <Tile name="Reading" url="reading">
          <Image
            src={readingLogo}
            width={100}
            aspectRatio="1:1"
            alt="Reading"
          />
        </Tile>
      </div>
      <div class="aspect-square p-4">
        <Tile name="Blogging" url="blogging">
          <Image
            src={bloggingLogo}
            width={100}
            aspectRatio="1:1"
            alt="Blogging"
          />
        </Tile>
      </div>
    </div>
  </div>
</BaseLayout>
