---
import BaseLayout from "../layouts/BaseLayout.astro";
import Tile from "@components/Tile.astro";
import { Image } from "@astrojs/image/components";
import tsLogo from "@img/logo-ts.svg";
import workoutLogo from "@img/logo-workout.svg";
import readingLogo from "@img/logo-reading.svg";
import bloggingLogo from "@img/logo-blogging.svg";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="py-32">
    <div class="px-10 mx-auto">
      <div
        class="flex justify-center font-bold text-5xl text-white font-['Avenir_Next']"
      >
        <span
          class="w-14 pb-2 pt-4 flex items-center justify-center bg-[#90A2B8]"
          >P</span
        ><span
          class="w-14 pb-2 pt-4 flex items-center justify-center bg-[#8A9CB3]"
          >R</span
        ><span
          class="w-14 pb-2 pt-4 flex items-center justify-center bg-[#8497AF]"
          >O</span
        ><span
          class="w-14 pb-2 pt-4 flex items-center justify-center bg-[#7E91AA]"
          >G</span
        ><span
          class="w-14 pb-2 pt-4 flex items-center justify-center bg-[#788CA6]"
          >R</span
        ><span
          class="w-14 pb-2 pt-4 flex items-center justify-center bg-[#7286A1]"
          >E</span
        ><span
          class="w-14 pb-2 pt-4 flex items-center justify-center bg-[#6C819D]"
          >S</span
        ><span
          class="w-14 pb-2 pt-4 flex items-center justify-center bg-[#667B98]"
          >S</span
        >
      </div>
      <p class="text-slate-500 text-center mt-6 font-medium tracking-wide">
        This is an app for keeping track of my progress.
      </p>

      <div
        class="grid place-content-center justify-items-center items-center mt-12"
        style="grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));"
      >
        <div class="aspect-square p-4">
          <Tile name="TypeScript">
            <Image
              src={tsLogo}
              width={256}
              aspectRatio="1:1"
              alt="TypeScript"
            />
          </Tile>
        </div>
        <div class="aspect-square p-4">
          <Tile name="Workout">
            <Image
              src={workoutLogo}
              width={256}
              aspectRatio="1:1"
              alt="Workout"
            />
          </Tile>
        </div>
        <div class="aspect-square p-4">
          <Tile name="Reading">
            <Image
              src={readingLogo}
              width={256}
              aspectRatio="1:1"
              alt="Reading"
            />
          </Tile>
        </div>
        <div class="aspect-square p-4">
          <Tile name="Blogging">
            <Image
              src={bloggingLogo}
              width={256}
              aspectRatio="1:1"
              alt="Blogging"
            />
          </Tile>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
