---
import BaseLayout from "src/layouts/BaseLayout.astro";
import { getCollection, getEntryBySlug } from "astro:content";
const allTypeScriptPosts = await getCollection("typescript");
import tsLogo from "@img/logo-ts.svg";
import { Image } from "@astrojs/image/components";
import Sample from "@components/Heatmap";
import Heatmap from "@components/Heatmap";
import { format, compareDesc } from "date-fns";

const sortedPosts = allTypeScriptPosts.sort((a, b) => {
  return compareDesc(
    new Date(a.data.publishedAt),
    new Date(b.data.publishedAt)
  );
});

const allPostsDate = allTypeScriptPosts.map((post) => {
  return format(post.data.publishedAt, "yyyy/MM/dd");
});
---

<BaseLayout>
  <div class="py-28">
    <div class="pb-10 bg-slate-50">
      <div
        class="container max-w-[900px] h-full mx-auto px-4 flex justify-center"
      >
        <div>
          <Image
            src={tsLogo}
            width={256}
            aspectRatio="1:1"
            alt="TypeScript"
            class="w-[200px]"
          />
        </div>
        <div class="ml-16">
          <h1 class="text-5xl font-bold tracking-wide text-slate-500">
            TypeScript
          </h1>
          <div class="mt-8">
            <Heatmap client:load allPostsDate={allPostsDate} />
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="container max-w-[900px] px-4 mx-auto">
        <ul>
          {
            sortedPosts.map((post) => {
              const {
                slug,
                data: { title, publishedAt },
              } = post;

              return (
                <li class="relative mt-10 before:content-[''] before:absolute before:top-0 before:left-0 before:h-full before:w-full before:bg-gradient-to-r before:from-cyan-500 before:to-blue-500 before:rounded-lg before:blur-md before:opacity-10 before:duration-300 hover:before:opacity-20 hover:before:blur-lg">
                  <a
                    href={`/typescript/${slug}`}
                    class="relative bg-white rounded-lg p-8 block hover:-translate-y-1 duration-300"
                  >
                    <time class="text-slate-500 tracking-wide">
                      {publishedAt.toLocaleDateString()}
                    </time>
                    <p class="text-2xl mt-2 text-slate-600 font-semibold tracking-normal">
                      {title}
                    </p>
                  </a>
                </li>
              );
            })
          }
        </ul>
      </div>
    </div>
  </div>
</BaseLayout>
